[submodule "Element/vendor/GLFW"]
	path = Element/vendor/GLFW
	url = https://github.com/TheCherno/glfw.git
[submodule "Element/vendor/ImGui"]
	path = Element/vendor/ImGui
	url = https://github.com/TheCherno/imgui.git
[submodule "Element/vendor/glm"]
	path = Element/vendor/glm
	url = https://github.com/g-truc/glm.git
[submodule "Element/vendor/spdlog"]
	path = Element/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "Element/vendor/yaml-cpp"]
	path = Element/vendor/yaml-cpp
	url = https://github.com/TheCherno/yaml-cpp
